
div {
    display: flex ;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: blueviolet;
    width: 500px;
    height: 400px;
    overflow:visible;
    justify-content: space-around;
    align-items: center;

}
img {
    width: 100px;
    height: 80px;
}